automation/n8n-cloudflare-pipeline.json
{
  "name": "Feelings Unplugged Deploy & QA",
  "nodes": [
    {
      "id": "1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        280
      ]
    },
    {
      "id": "2",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        430,
        280
      ],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "deployHookUrl",
              "value": "https://api.cloudflare.com/client/v4/pages/webhooks/deploy_hooks/b822ec72-9b3a-4f0e-a1bf-20d3c9c95a77"
            },
            {
              "name": "accountId",
              "value": "a38191cd453b3f9dc61e9108cb40fcc1"
            },
            {
              "name": "projectName",
              "value": "feelings-unplugged"
            },
            {
              "name": "notifyWebhook",
              "value": ""
            },
            {
              "name": "analyticsDashboard",
              "value": "https://dash.cloudflare.com/a38191cd453b3f9dc61e9108cb40fcc1/web-analytics/feelingsunplugged.space"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "3",
      "name": "Trigger Deploy Hook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        640,
        280
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$json[\"deployHookUrl\"]}}",
        "responseFormat": "json",
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "4",
      "name": "Wait 60s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        830,
        280
      ],
      "parameters": {
        "options": {
          "delay": {
            "amount": 60,
            "unit": "seconds"
          }
        }
      }
    },
    {
      "id": "5",
      "name": "Fetch Deployment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1010,
        280
      ],
      "parameters": {
        "method": "GET",
        "url": "={{`https://api.cloudflare.com/client/v4/accounts/${$json[\"accountId\"]}/pages/projects/${$json[\"projectName\"]}/deployments`}}",
        "responseFormat": "json",
        "options": {
          "timeout": 20
        },
        "headerParametersJson": "={\"Authorization\":\"Bearer {{$env.CLOUDFLARE_API_TOKEN}}\"}"
      }
    },
    {
      "id": "6",
      "name": "Check Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1200,
        280
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"result\"][0][\"latest_stage\"][\"status\"]}}",
              "operation": "equal",
              "value2": "success"
            }
          ]
        }
      }
    },
    {
      "id": "12",
      "name": "Prepare Google JWT",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1400,
        40
      ],
      "parameters": {
        "functionCode": "const clientEmail = $env.GOOGLE_CLIENT_EMAIL;\nconst privateKey = ($env.GOOGLE_PRIVATE_KEY || '').replace(/\\\\n/g, '\\n');\nif (!clientEmail || !privateKey) {\n  throw new Error('GOOGLE_CLIENT_EMAIL or GOOGLE_PRIVATE_KEY env vars are missing.');\n}\nconst now = Math.floor(Date.now() / 1000);\nconst header = { alg: 'RS256', typ: 'JWT' };\nconst payload = {\n  iss: clientEmail,\n  scope: 'https://www.googleapis.com/auth/pagespeedonline',\n  aud: 'https://oauth2.googleapis.com/token',\n  iat: now,\n  exp: now + 3600,\n};\nconst base64url = (input) => Buffer.from(input).toString('base64').replace(/=/g, '').replace(/\\+/g, '-').replace(/\\//g, '_');\nconst encodedHeader = base64url(JSON.stringify(header));\nconst encodedPayload = base64url(JSON.stringify(payload));\nconst crypto = require('crypto');\nconst signature = crypto\n  .createSign('RSA-SHA256')\n  .update(`${encodedHeader}.${encodedPayload}`)\n  .sign(privateKey, 'base64')\n  .replace(/=/g, '')\n  .replace(/\\+/g, '-')\n  .replace(/\\//g, '_');\nconst jwt = `${encodedHeader}.${encodedPayload}.${signature}`;\nreturn [{ jwt }];"
      }
    },
    {
      "id": "13",
      "name": "Get Google Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1600,
        40
      ],
      "parameters": {
        "method": "POST",
        "url": "https://oauth2.googleapis.com/token",
        "responseFormat": "json",
        "options": {
          "timeout": 30
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "urn:ietf:params:oauth:grant-type:jwt-bearer"
            },
            {
              "name": "assertion",
              "value": "={{$json[\"jwt\"]}}"
            }
          ]
        }
      }
    },
    {
      "id": "10",
      "name": "Fetch Lighthouse",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1800,
        40
      ],
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/pagespeedonline/v5/runPagespeed?url=https://feelingsunplugged.space/&strategy=mobile&category=PERFORMANCE&category=ACCESSIBILITY&category=BEST_PRACTICES&category=SEO",
        "responseFormat": "json",
        "options": {
          "timeout": 60
        },
        "headerParametersJson": "={\"Authorization\":\"Bearer {{$json[\\\"access_token\\\"]}}\"}"
      }
    },
    {
      "id": "11",
      "name": "Assemble Success Context",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2000,
        40
      ],
      "parameters": {
        "functionCode": "const deployment = $items(\"Fetch Deployment\", 0, 0).json.result[0];\nconst categories = $json.lighthouseResult.categories;\nconst audits = $json.lighthouseResult.audits;\nconst toPct = (val) => Math.round((val || 0) * 100);\nreturn [{\n  deployment,\n  lighthouse: {\n    performance: toPct(categories.performance.score),\n    accessibility: toPct(categories.accessibility.score),\n    bestPractices: toPct(categories['best-practices'].score),\n    seo: toPct(categories.seo.score),\n    fcp: audits['first-contentful-paint'].displayValue,\n    lcp: audits['largest-contentful-paint'].displayValue,\n    cls: audits['cumulative-layout-shift'].displayValue,\n    tbt: audits['total-blocking-time'].displayValue\n  },\n  analyticsDashboard: $items(\"Config\", 0, 0).json.analyticsDashboard\n}];"
      }
    },
    {
      "id": "7",
      "name": "Success Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2200,
        40
      ],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "text",
              "value": "✅ Cloudflare Pages deployment succeeded for Feelings Unplugged.\nDeployment: {{$json[\"deployment\"][\"short_id\"]}} → {{$json[\"deployment\"][\"url\"]}}\nLighthouse (mobile): Perf {{$json[\"lighthouse\"][\"performance\"]}} / A11y {{$json[\"lighthouse\"][\"accessibility\"]}} / BP {{$json[\"lighthouse\"][\"bestPractices\"]}} / SEO {{$json[\"lighthouse\"][\"seo\"]}}\nKey metrics: FCP {{$json[\"lighthouse\"][\"fcp\"]}}, LCP {{$json[\"lighthouse\"][\"lcp\"]}}, CLS {{$json[\"lighthouse\"][\"cls\"]}}, TBT {{$json[\"lighthouse\"][\"tbt\"]}}\nWeb Analytics: {{$json[\"analyticsDashboard\"]}}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "8",
      "name": "Failure Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1400,
        420
      ],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "text",
              "value": "⚠️ Cloudflare Pages deployment still pending or failed.\nLatest status: {{$json[\"result\"][0][\"latest_stage\"][\"status\"]}}\nCheck Cloudflare dashboard."
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "9",
      "name": "Notify Channel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2410,
        180
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$json[\"notifyWebhook\"]}}",
        "responseFormat": "json",
        "jsonParameters": true,
        "options": {
          "timeout": 10,
          "ignoreResponseCode": true
        },
        "bodyParametersJson": "={\"text\": $json[\"text\"]}"
      }
    },
    {
      "id": "14",
      "name": "Should Notify?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2200,
        180
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"notifyWebhook\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Trigger Deploy Hook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Deploy Hook": {
      "main": [
        [
          {
            "node": "Wait 60s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 60s": {
      "main": [
        [
          {
            "node": "Fetch Deployment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Deployment": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Prepare Google JWT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failure Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Google JWT": {
      "main": [
        [
          {
            "node": "Get Google Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Google Token": {
      "main": [
        [
          {
            "node": "Fetch Lighthouse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Lighthouse": {
      "main": [
        [
          {
            "node": "Assemble Success Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Success Context": {
      "main": [
        [
          {
            "node": "Success Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Payload": {
      "main": [
        [
          {
            "node": "Should Notify?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Failure Payload": {
      "main": [
        [
          {
            "node": "Should Notify?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Notify?": {
      "main": [
        [
          {
            "node": "Notify Channel",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "active": false,
  "versionId": "5c14f5e4-automation-template",
  "meta": {
    "templateCredsSetupCompleted": false
  }
}

