automation/n8n-cloudflare-pipeline.json
{
  "name": "Feelings Unplugged Deploy & QA",
  "nodes": [
    {
      "id": "1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        280
      ]
    },
    {
      "id": "2",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        430,
        280
      ],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "deployHookUrl",
              "value": "https://api.cloudflare.com/client/v4/pages/webhooks/deploy_hooks/REPLACE_WITH_DEPLOY_HOOK"
            },
            {
              "name": "accountId",
              "value": "a38191cd453b3f9dc61e9108cb40fcc1"
            },
            {
              "name": "projectName",
              "value": "feelings-unplugged"
            },
            {
              "name": "notifyWebhook",
              "value": "https://hooks.slack.com/services/REPLACE/ME"
            },
            {
              "name": "pagespeedApiKey",
              "value": "REPLACE_WITH_PAGESPEED_API_KEY"
            },
            {
              "name": "analyticsDashboard",
              "value": "https://dash.cloudflare.com/a38191cd453b3f9dc61e9108cb40fcc1/web-analytics/feelingsunplugged.space"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "3",
      "name": "Trigger Deploy Hook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        640,
        280
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$json[\"deployHookUrl\"]}}",
        "responseFormat": "json",
        "options": {
          "timeout": 15
        }
      }
    },
    {
      "id": "4",
      "name": "Wait 60s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        830,
        280
      ],
      "parameters": {
        "options": {
          "delay": {
            "amount": 60,
            "unit": "seconds"
          }
        }
      }
    },
    {
      "id": "5",
      "name": "Fetch Deployment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1010,
        280
      ],
      "parameters": {
        "method": "GET",
        "url": "={{`https://api.cloudflare.com/client/v4/accounts/${$json[\"accountId\"]}/pages/projects/${$json[\"projectName\"]}/deployments`}}",
        "responseFormat": "json",
        "options": {
          "timeout": 20
        },
        "headerParametersJson": "={\"Authorization\":\"Bearer {{$env.CLOUDFLARE_API_TOKEN}}\"}"
      }
    },
    {
      "id": "6",
      "name": "Check Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1200,
        280
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"result\"][0][\"latest_stage\"][\"status\"]}}",
              "operation": "equal",
              "value2": "success"
            }
          ]
        }
      }
    },
    {
      "id": "10",
      "name": "Fetch Lighthouse",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1400,
        120
      ],
      "parameters": {
        "method": "GET",
        "url": "={{`https://www.googleapis.com/pagespeedonline/v5/runPagespeed?url=https://feelingsunplugged.space/&strategy=mobile&category=PERFORMANCE&category=ACCESSIBILITY&category=BEST_PRACTICES&category=SEO&key=${$json[\"pagespeedApiKey\"]}`}}",
        "responseFormat": "json",
        "options": {
          "timeout": 60
        }
      }
    },
    {
      "id": "11",
      "name": "Assemble Success Context",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1600,
        120
      ],
      "parameters": {
        "functionCode": "const deployment = $items(\"Fetch Deployment\", 0, 0).json.result[0];\nconst categories = $json.lighthouseResult.categories;\nconst audits = $json.lighthouseResult.audits;\nconst toPct = (val) => Math.round((val || 0) * 100);\nreturn [{\n  deployment,\n  lighthouse: {\n    performance: toPct(categories.performance.score),\n    accessibility: toPct(categories.accessibility.score),\n    bestPractices: toPct(categories['best-practices'].score),\n    seo: toPct(categories.seo.score),\n    fcp: audits['first-contentful-paint'].displayValue,\n    lcp: audits['largest-contentful-paint'].displayValue,\n    cls: audits['cumulative-layout-shift'].displayValue,\n    tbt: audits['total-blocking-time'].displayValue\n  },\n  analyticsDashboard: $items(\"Config\", 0, 0).json.analyticsDashboard\n}];"
      }
    },
    {
      "id": "7",
      "name": "Success Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1400,
        160
      ],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "text",
              "value": "✅ Cloudflare Pages deployment succeeded for Feelings Unplugged.\nDeployment: {{$json[\"deployment\"][\"short_id\"]}} → {{$json[\"deployment\"][\"url\"]}}\nLighthouse (mobile): Perf {{$json[\"lighthouse\"][\"performance\"]}} / A11y {{$json[\"lighthouse\"][\"accessibility\"]}} / BP {{$json[\"lighthouse\"][\"bestPractices\"]}} / SEO {{$json[\"lighthouse\"][\"seo\"]}}\nKey metrics: FCP {{$json[\"lighthouse\"][\"fcp\"]}}, LCP {{$json[\"lighthouse\"][\"lcp\"]}}, CLS {{$json[\"lighthouse\"][\"cls\"]}}, TBT {{$json[\"lighthouse\"][\"tbt\"]}}\nWeb Analytics: {{$json[\"analyticsDashboard\"]}}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "8",
      "name": "Failure Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1400,
        420
      ],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "text",
              "value": "⚠️ Cloudflare Pages deployment still pending or failed.\nLatest status: {{$json[\"result\"][0][\"latest_stage\"][\"status\"]}}\nCheck Cloudflare dashboard."
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "9",
      "name": "Notify Channel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1590,
        280
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$json[\"notifyWebhook\"]}}",
        "responseFormat": "json",
        "jsonParameters": true,
        "options": {
          "timeout": 10
        },
        "bodyParametersJson": "={\"text\": $json[\"text\"]}"
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Trigger Deploy Hook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Deploy Hook": {
      "main": [
        [
          {
            "node": "Wait 60s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 60s": {
      "main": [
        [
          {
            "node": "Fetch Deployment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Deployment": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Fetch Lighthouse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failure Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Lighthouse": {
      "main": [
        [
          {
            "node": "Assemble Success Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Success Context": {
      "main": [
        [
          {
            "node": "Success Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Payload": {
      "main": [
        [
          {
            "node": "Notify Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Failure Payload": {
      "main": [
        [
          {
            "node": "Notify Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "active": false,
  "versionId": "5c14f5e4-automation-template",
  "meta": {
    "templateCredsSetupCompleted": false
  }
}

