automation/n8n-stripe-fulfillment.json
{
  "name": "Feelings Unplugged Stripe Fulfillment",
  "nodes": [
    {
      "id": "1",
      "name": "Stripe Checkout Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "stripe/checkout",
        "responseMode": "responseNode",
        "options": {
          "binaryData": false,
          "rawBody": true
        }
      }
    },
    {
      "id": "2",
      "name": "Event Type?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        520,
        300
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"type\"]}}",
              "operation": "equal",
              "value2": "checkout.session.completed"
            }
          ]
        }
      }
    },
    {
      "id": "3",
      "name": "Respond (ignored)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 2,
      "position": [
        780,
        440
      ],
      "parameters": {
        "responseBody": "={{ { \"received\": true, \"ignored\": true } }}",
        "responseCode": 200
      }
    },
    {
      "id": "4",
      "name": "Retrieve Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        780,
        140
      ],
      "parameters": {
        "method": "GET",
        "url": "={{`https://api.stripe.com/v1/checkout/sessions/${$json[\"data\"][\"object\"][\"id\"]}?expand[]=line_items`}}",
        "responseFormat": "json",
        "options": {
          "timeout": 30000
        },
        "headerParametersJson": "={\"Authorization\": \"Bearer {{$env.STRIPE_SECRET_KEY}}\"}"
      }
    },
    {
      "id": "5",
      "name": "Build Download Payload",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        1000,
        140
      ],
      "parameters": {
        "functionCode": "const session = items[0].json;\nconst lineItems = session.line_items?.data ?? [];\nconst email = session.customer_details?.email;\nconst purchaseId = session.id;\n\nif (!email) {\n  throw new Error('Stripe session missing customer email.');\n}\n\n// Generate unique password for this purchase\nconst generatePassword = () => {\n  const chars = 'ABCDEFGHJKLMNPQRSTUVWXYZ23456789';\n  let password = '';\n  for (let i = 0; i < 12; i++) {\n    password += chars.charAt(Math.floor(Math.random() * chars.length));\n  }\n  return password;\n};\n\nconst basePassword = generatePassword();\nconst passwords = {\n  teenJournal: basePassword + 'TJ',\n  parentGuide: basePassword + 'PG',\n  educatorToolkit: basePassword + 'ET'\n};\n\nconst products = [];\nconst links = [];\n\n// Map products based on what was purchased\nfor (const item of lineItems) {\n  const description = (item.description || item.price?.product?.name || '').toLowerCase();\n  const productId = item.price?.product?.id || '';\n  \n  if (description.includes('teen journal') || productId.includes('teen') || productId.includes('journal')) {\n    products.push('teen-journal');\n    links.push({\n      title: 'Feelings Unplugged Teen Journal (Print-Ready PDF)',\n      url: `https://feelingsunplugged.space/marketing/download-teen-journal.html?p=${encodeURIComponent(passwords.teenJournal)}&id=${purchaseId}`,\n      password: passwords.teenJournal,\n      product: 'teen-journal'\n    });\n  }\n  if (description.includes('parent') || description.includes('caregiver') || productId.includes('parent')) {\n    products.push('parent-guide');\n    links.push({\n      title: 'Parent Guide (Print-Ready PDF)',\n      url: `https://feelingsunplugged.space/marketing/download-parent-guide.html?p=${encodeURIComponent(passwords.parentGuide)}&id=${purchaseId}`,\n      password: passwords.parentGuide,\n      product: 'parent-guide'\n    });\n  }\n  if (description.includes('educator') || description.includes('toolkit') || productId.includes('educator')) {\n    products.push('educator-toolkit');\n    links.push({\n      title: 'Educator Toolkit (Print-Ready PDF)',\n      url: `https://feelingsunplugged.space/marketing/download-educator-toolkit.html?p=${encodeURIComponent(passwords.educatorToolkit)}&id=${purchaseId}`,\n      password: passwords.educatorToolkit,\n      product: 'educator-toolkit'\n    });\n  }\n}\n\nif (!links.length) {\n  // Fallback if no products matched\n  links.push({\n    title: 'Feelings Unplugged Resource Library',\n    url: 'https://feelingsunplugged.space/marketing/downloads.html',\n    password: null,\n    product: null\n  });\n}\n\n// Calculate contributions (1 purchase = 1 free copy per product)\nconst contributions = products.length;\n\nreturn [{\n  json: {\n    checkout: session,\n    links,\n    email,\n    purchaseId,\n    passwords,\n    products,\n    contributions\n  }\n}];"
      }
    },
    {
      "id": "6",
      "name": "Prepare Email Content",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        1220,
        140
      ],
      "parameters": {
        "functionCode": "const { email, links, checkout, purchaseId, passwords, products, contributions } = items[0].json;\nconst customerName = checkout.customer_details?.name || 'Firefly';\nconst subject = 'Feelings Unplugged • Your downloads are ready';\n\n// Build password-protected download links with passwords\nconst linkList = links\n  .map(link => {\n    if (link.password) {\n      return `<li><strong>${link.title}</strong><br/>Password: <code style=\"background: #f0f0f0; padding: 2px 6px; border-radius: 4px; font-family: monospace;\">${link.password}</code><br/><a href=\"${link.url}\" target=\"_blank\" rel=\"noopener\" style=\"color: #8a2be2; text-decoration: underline;\">Access Download →</a></li>`;\n    } else {\n      return `<li><a href=\"${link.url}\" target=\"_blank\" rel=\"noopener\">${link.title}</a></li>`;\n    }\n  })\n  .join('\\n');\n\n// Gratitude message based on contributions\nconst gratitudeMessage = contributions > 1 \n  ? `Your purchase of ${contributions} resource(s) means we can provide ${contributions} free copy(ies) to youth, caregivers, and educators in under-resourced communities. Your support creates real impact—thank you!`\n  : `Your purchase helps us provide 1 free copy to a youth, caregiver, or educator in an under-resourced community. Thank you for being part of our Buy One · Gift One mission!`;\n\nconst html = `\n  <p>Hi ${customerName},</p>\n  <p>Thank you for supporting Feelings Unplugged! Your downloads are ready. Each resource has a unique password—use the password below each link to access your download.</p>\n  \n  <ul style=\"list-style: none; padding-left: 0;\">\n    ${linkList}\n  </ul>\n  \n  <div style=\"background: linear-gradient(135deg, rgba(138, 43, 226, 0.1), rgba(30, 144, 255, 0.1)); border: 1px solid rgba(138, 43, 226, 0.3); border-radius: 12px; padding: 1.5rem; margin: 2rem 0;\">\n    <h3 style=\"margin-top: 0;\">✨ Your Impact ✨</h3>\n    <p style=\"margin-bottom: 0;\">${gratitudeMessage}</p>\n  </div>\n  \n  <p><strong>Purchase ID:</strong> ${purchaseId}</p>\n  <p>Save this email—your passwords don't expire, so you can return to download anytime.</p>\n  \n  <p>If you run into any snags, reply to this email and we will help right away.</p>\n  <p>With care,<br/>Feelings Unplugged Team</p>\n`;\n\nconst text = `Hi ${customerName},\\n\\nThank you for supporting Feelings Unplugged! Your downloads are ready:\\n\\n${links\n  .map((link, idx) => {\n    if (link.password) {\n      return `${idx + 1}. ${link.title}\\n   Password: ${link.password}\\n   Link: ${link.url}`;\n    } else {\n      return `${idx + 1}. ${link.title} → ${link.url}`;\n    }\n  })\n  .join('\\n\\n')}\\n\\n${gratitudeMessage}\\n\\nPurchase ID: ${purchaseId}\\n\\nSave this email—your passwords don't expire, so you can return to download anytime.\\n\\nIf you run into any snags, reply to this email and we will help right away.\\n\\nWith care,\\nFeelings Unplugged Team`;\n\nreturn [{\n  json: {\n    checkout,\n    email,\n    links,\n    purchaseId,\n    passwords,\n    products,\n    contributions,\n    message: {\n      subject,\n      html,\n      text\n    }\n  }\n}];"
      }
    },
    {
      "id": "7",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        1440,
        140
      ],
      "parameters": {
        "fromEmail": "={{$env.FULFILLMENT_FROM_EMAIL}}",
        "fromName": "={{$env.FULFILLMENT_FROM_NAME || 'Feelings Unplugged'}}",
        "toEmail": "={{$json[\"email\"]}}",
        "subject": "={{$json[\"message\"][\"subject\"]}}",
        "text": "={{$json[\"message\"][\"text\"]}}",
        "html": "={{$json[\"message\"][\"html\"]}}",
        "options": {
          "smtp": {
            "host": "={{$env.N8N_SMTP_HOST}}",
            "port": "={{$env.N8N_SMTP_PORT || 587}}",
            "secure": false,
            "user": "={{$env.N8N_SMTP_USER}}",
            "pass": "={{$env.N8N_SMTP_PASS}}"
          }
        }
      }
    },
    {
      "id": "8",
      "name": "Respond (fulfilled)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 2,
      "position": [
        1660,
        140
      ],
      "parameters": {
        "responseBody": "={{ { \"received\": true, \"fulfilled\": true } }}",
        "responseCode": 200
      }
    }
  ],
  "connections": {
    "Stripe Checkout Webhook": {
      "main": [
        [
          {
            "node": "Event Type?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Event Type?": {
      "main": [
        [
          {
            "node": "Retrieve Session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond (ignored)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Session": {
      "main": [
        [
          {
            "node": "Build Download Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Download Payload": {
      "main": [
        [
          {
            "node": "Prepare Email Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email Content": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Respond (fulfilled)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {},
  "staticData": {},
  "id": null,
  "active": false
}

